:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 7%;

  --card: 0 0% 97%;
  --card-foreground: 0 0% 7%;

  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 7%;

  --primary: 153 60% 53%;
  --primary-foreground: 0 0% 7%;

  --secondary: 0 0% 95%;
  --secondary-foreground: 0 0% 9%;

  --muted: 0 0% 95%;
  --muted-foreground: 0 0% 45%;

  --accent: 153 60% 95%;
  --accent-foreground: 153 60% 30%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 0%;

  --warning: 31 98% 50%;
  --warning-foreground: 0 0% 0%;

  --border: 0 0% 90%;
  --input: 0 0% 90%;
  --ring: 153 60% 53%;

  --radius: 0.5rem;
}

[data-kb-theme="dark"] {
  --background: 0 0% 9%;
  --foreground: 0 0% 98%;

  --card: 0 0% 14%;
  --card-foreground: 0 0% 98%;

  --popover: 0 0% 12%;
  --popover-foreground: 0 0% 98%;

  --primary: 153 60% 53%;
  --primary-foreground: 0 0% 7%;

  --secondary: 0 0% 19%;
  --secondary-foreground: 0 0% 98%;

  --muted: 0 0% 19%;
  --muted-foreground: 0 0% 64%;

  --accent: 0 0% 19%;
  --accent-foreground: 0 0% 98%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;

  --warning: 31 98% 50%;
  --warning-foreground: 0 0% 0%;

  --border: 0 0% 22%;
  --input: 0 0% 22%;
  --ring: 153 60% 53%;
}


* {
  @apply border-border;
}
body {
  @apply bg-background text-foreground;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}